doctype html
html
  head
  body 
    header 
        a(href="/") forside
        a(href="/user") about
        a(href="/opgave_1") enlightenment
    section 
        h1 HELLO
        p Et vocavit Deus aridam Terram, congregationesque aquarum appellavit Maria. Et vidit Deus quod esset bonum.
        p Et ait: Germinet terra herbam virentem, et facientem semen, et lignum pomiferum faciens fructum juxta genus suum, cujus semen in semetipso sit super terram. Et factum est ita.
        img(src="images/genesis.jpg", alt="genesis")
        input(type="enter email")
        button click for enlightenment
    footer 
        p email: jsbe42@mail.com
        p thonnumber: 2113532534325532